<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-lookuppopup-form-field [data]="getEmpresasForEmpresa_IdResult" property="Empresa_Id" [required]="true" textProperty="Nit" title="Empresa" valueProperty="Id" placeholder="Choose Empresa" [count]="getEmpresasForEmpresa_IdCount" [pageSize]="getEmpresasForEmpresa_IdPageSize" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getClaseRiesgosForClase_Riesgo_IdResult" property="Clase_Riesgo_Id" [required]="true" textProperty="Nombre" title="Clase Riesgo" valueProperty="Id" placeholder="Choose ClaseRiesgo" [count]="getClaseRiesgosForClase_Riesgo_IdCount" [pageSize]="getClaseRiesgosForClase_Riesgo_IdPageSize" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
