<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-lookuppopup-form-field [data]="getEnfermedadesForEnfermedad_IdResult" property="Enfermedad_Id" [required]="true" textProperty="Nombre" title="Enfermedade" valueProperty="Id" placeholder="Choose Enfermedade" [count]="getEnfermedadesForEnfermedad_IdCount" [pageSize]="getEnfermedadesForEnfermedad_IdPageSize" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getInfoDemograficasForInfo_Demografica_IdResult" property="Info_Demografica_Id" [required]="true" textProperty="Cargo" title="Info Demografica" valueProperty="Id" placeholder="Choose InfoDemografica" [count]="getInfoDemograficasForInfo_Demografica_IdCount" [pageSize]="getInfoDemograficasForInfo_Demografica_IdPageSize" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
