<rz-header #header0>
  <div class="row justify-content-start align-items-center">
    <div class="col-md-6 d-flex align-items-center">
      <rz-sidebar-toggle #sidebarToggle0>
      </rz-sidebar-toggle>
      <rz-label #label0 text="sgsst">
      </rz-label>
    </div>
    <div class="col-md-6 text-lg-right">
      <rz-profilemenu #profilemenu0 *ngIf="security?.isAuthenticated()" (click)="profilemenu0Click($event)">
        <rz-profilemenu-item path="profile" icon="settings" text="Profile" *ngIf="security?.isInRole(['Authenticated'])">
        </rz-profilemenu-item>
        <rz-profilemenu-item path="application-users" icon="person" text="Users" *ngIf="security?.isInRole(['Authenticated'])">
        </rz-profilemenu-item>
        <rz-profilemenu-item path="application-roles" icon="security" text="Roles" *ngIf="security?.isInRole(['Authenticated'])">
        </rz-profilemenu-item>
        <rz-profilemenu-item text="Logout" icon="power_settings_new">
        </rz-profilemenu-item>
        <ng-template let-data profilemenuTemplate>
          <rz-gravatar #gravatar1 [email]="security?.user?.name">
          </rz-gravatar>
        </ng-template>
      </rz-profilemenu>
    </div>
  </div>
</rz-header>
<rz-body #body0>
  <rz-content-container #main name="main">
  </rz-content-container>
</rz-body>
<rz-sidebar #sidebar0>
  <rz-panelmenu #panelmenu0 [style]="{'height': '100%'}">
    <rz-panelmenu-item text="Actividad Economicas" path="actividad-economicas" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Actividades Bienestars" path="actividades-bienestars" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Actividades Personas" path="actividades-personas" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Clase Riesgos" path="clase-riesgos" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Documentos" path="documentos" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Empresas" path="empresas" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Empresa Clase Risgos" path="empresa-clase-risgos" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Enfermedades" path="enfermedades" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Enfermedades Info Demofraficas" path="enfermedades-info-demofraficas" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Estado Civils" path="estado-civils" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Estado Empresas" path="estado-empresas" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Info Demograficas" path="info-demograficas" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Intensidad Deportes" path="intensidad-deportes" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Personas" path="personas" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Promedio Ingresos" path="promedio-ingresos" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Rango Ingresos" path="rango-ingresos" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Tiempo Libres" path="tiempo-libres" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Tipo Archivos" path="tipo-archivos" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Tipo Contratos" path="tipo-contratos" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item text="Ubicacions" path="ubicacions" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
  </rz-panelmenu>
</rz-sidebar>
<rz-footer #footer0>
  <rz-label #footerText text="sgsst, Copyright &copy; 2019">
  </rz-label>
</rz-footer>
<router-outlet></router-outlet>
