<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (loadData)="form0LoadData($event)" (submit)="form0Submit($event)">
        <rz-lookuppopup-form-field [count]="getPersonasForPersona_IdCount" [data]="getPersonasForPersona_IdResult" [pageSize]="getPersonasForPersona_IdPageSize" placeholder="Choose Persona" property="Persona_Id" [required]="true" requiredText="is required" textProperty="Nombre" title="Persona" valueProperty="Id" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-string-form-field [maxLength]="200" property="Cargo" [required]="true" requiredText="is required" title="Cargo" type="string">
        </rz-string-form-field>
        <rz-date-form-field dateFormat="mm/dd/yy" [hourFormat]="12" [inline]="true" property="Fecha_Ini_Cargo" [required]="false" requiredText="is required" [showTime]="true" title="Fecha Ini Cargo" type="date">
        </rz-date-form-field>
        <rz-lookuppopup-form-field [count]="getClaseRiesgosForClase_Riesgo_IdCount" [data]="getClaseRiesgosForClase_Riesgo_IdResult" [pageSize]="getClaseRiesgosForClase_Riesgo_IdPageSize" placeholder="Choose ClaseRiesgo" property="Clase_Riesgo_Id" [required]="true" requiredText="is required" textProperty="Nombre" title="Clase Riesgo" valueProperty="Id" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [count]="getEstadoCivilsForEstado_Civil_IdCount" [data]="getEstadoCivilsForEstado_Civil_IdResult" [pageSize]="getEstadoCivilsForEstado_Civil_IdPageSize" placeholder="Choose EstadoCivil" property="Estado_Civil_Id" [required]="false" requiredText="is required" textProperty="Nombre" title="Estado Civil" valueProperty="Id" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-boolean-form-field property="Tiene_Vivienda" [required]="false" requiredText="is required" title="Tiene Vivienda" type="boolean">
        </rz-boolean-form-field>
        <rz-integer-form-field maxText="cannot be more than" minText="cannot be less than" property="Num_Persona" [required]="false" requiredText="is required" title="Num Persona" type="integer">
        </rz-integer-form-field>
        <rz-lookuppopup-form-field [count]="getTiempoLibresForTiempo_Libre_IdCount" [data]="getTiempoLibresForTiempo_Libre_IdResult" [pageSize]="getTiempoLibresForTiempo_Libre_IdPageSize" placeholder="Choose TiempoLibre" property="Tiempo_Libre_Id" [required]="true" requiredText="is required" textProperty="Nombre" title="Tiempo Libre" valueProperty="Id" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [count]="getPromedioIngresosForPromedio_Ingresos_IdCount" [data]="getPromedioIngresosForPromedio_Ingresos_IdResult" [pageSize]="getPromedioIngresosForPromedio_Ingresos_IdPageSize" placeholder="Choose PromedioIngreso" property="Promedio_Ingresos_Id" [required]="false" requiredText="is required" textProperty="Nombre" title="Promedio Ingreso" valueProperty="Id" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [count]="getRangoIngresosForRango_Ingresos_IdCount" [data]="getRangoIngresosForRango_Ingresos_IdResult" [pageSize]="getRangoIngresosForRango_Ingresos_IdPageSize" placeholder="Choose RangoIngreso" property="Rango_Ingresos_Id" [required]="false" requiredText="is required" textProperty="Nombre" title="Rango Ingreso" valueProperty="Id" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [count]="getTipoContratosForTipo_Contrato_IdCount" [data]="getTipoContratosForTipo_Contrato_IdResult" [pageSize]="getTipoContratosForTipo_Contrato_IdPageSize" placeholder="Choose TipoContrato" property="Tipo_Contrato_Id" [required]="false" requiredText="is required" textProperty="Nombre" title="Tipo Contrato" valueProperty="Id" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-boolean-form-field property="Tiene_Enfermedad" [required]="false" requiredText="is required" title="Tiene Enfermedad" type="boolean">
        </rz-boolean-form-field>
        <rz-boolean-form-field property="Fuma" [required]="false" requiredText="is required" title="Fuma" type="boolean">
        </rz-boolean-form-field>
        <rz-number-form-field maxText="cannot be more than" minText="cannot be less than" property="Promedio_Fuma" [required]="false" requiredText="is required" title="Promedio Fuma" type="number">
        </rz-number-form-field>
        <rz-boolean-form-field property="Practica_Deporte" [required]="false" requiredText="is required" title="Practica Deporte" type="boolean">
        </rz-boolean-form-field>
        <rz-lookuppopup-form-field [count]="getIntensidadDeportesForIntensidad_Deporte_IdCount" [data]="getIntensidadDeportesForIntensidad_Deporte_IdResult" [pageSize]="getIntensidadDeportesForIntensidad_Deporte_IdPageSize" placeholder="Choose IntensidadDeporte" property="Intensidad_Deporte_Id" [required]="false" requiredText="is required" textProperty="Nombre" title="Intensidad Deporte" valueProperty="Id" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-boolean-form-field property="Consentimiento" [required]="false" requiredText="is required" title="Consentimiento" type="boolean">
        </rz-boolean-form-field>
        <rz-date-form-field dateFormat="mm/dd/yy" property="Fecha_Crea" [required]="false" requiredText="is required" title="Fecha Crea" type="date">
        </rz-date-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
