<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-integer-form-field property="TipoDocumento" [required]="true" title="Tipo Documento" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-integer-form-field property="Documento" [required]="true" title="Documento" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-string-form-field property="Nombre" [required]="true" title="Nombre" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Apellidos" [required]="true" title="Apellidos" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Email" [required]="true" title="Email" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Telefono" [required]="true" title="Telefono" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Direccion" [required]="false" title="Direccion" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-date-form-field property="Fecha_Nac" [required]="true" title="Fecha Nac" dateFormat="mm/dd/yy" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-string-form-field property="Genero" [required]="true" title="Genero" [maxLength]="1" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-lookuppopup-form-field [data]="getEmpresasForEmpresa_IdResult" property="Empresa_Id" [required]="true" textProperty="Nit" title="Empresa" valueProperty="Id" placeholder="Choose Empresa" [count]="getEmpresasForEmpresa_IdCount" [pageSize]="getEmpresasForEmpresa_IdPageSize" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-date-form-field property="Fecha_Crea" [required]="false" title="Fecha Crea" dateFormat="mm/dd/yy" requiredText="is required" type="date">
        </rz-date-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
