<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight': 'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom': '20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #label0 [style]="{'fontWeight': 'bold'}" text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." *ngIf="hasChanges">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #button0 buttonStyle="secondary" icon="autorenew" [style]="{'marginBottom': '20px'}" text="Reload" *ngIf="hasChanges" (click)="button0Click($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="empresaclaserisgo" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-lookuppopup-form-field [data]="getEmpresasForEmpresa_IdResult" property="Empresa_Id" [required]="true" textProperty="Nit" title="Empresa" valueProperty="Id" placeholder="Choose Empresa" [count]="getEmpresasForEmpresa_IdCount" [pageSize]="getEmpresasForEmpresa_IdPageSize" [value]="getByEmpresasForEmpresa_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getClaseRiesgosForClase_Riesgo_IdResult" property="Clase_Riesgo_Id" [required]="true" textProperty="Nombre" title="Clase Riesgo" valueProperty="Id" placeholder="Choose ClaseRiesgo" [count]="getClaseRiesgosForClase_Riesgo_IdCount" [pageSize]="getClaseRiesgosForClase_Riesgo_IdPageSize" [value]="getByClaseRiesgosForClase_Riesgo_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
