<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Info Demograficas">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 [allowDelete]="true" [confirmDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getInfoDemograficasCount" [data]="getInfoDemograficasResult" confirmDeleteText="Are you sure you want to delete this record?" confirmDeleteTitle="Confirmation" confirmDeleteOkText="Ok" confirmDeleteCancelText="Cancel" emptyText="No records to display." addText="Add" (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column format="int64" property="Persona_Id" sortProperty="Persona.Nombre" filterProperty="Persona.Nombre" title="Persona" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Persona?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Cargo" title="Cargo" type="string">
        </rz-grid-column>
        <rz-grid-column format="date-time" property="Fecha_Ini_Cargo" formatString="mm/dd/yy" title="Fecha Ini Cargo" type="string">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Clase_Riesgo_Id" sortProperty="ClaseRiesgo.Nombre" filterProperty="ClaseRiesgo.Nombre" title="Clase Riesgo" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.ClaseRiesgo?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Estado_Civil_Id" sortProperty="EstadoCivil.Nombre" filterProperty="EstadoCivil.Nombre" title="Estado Civil" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.EstadoCivil?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Tiene_Vivienda" title="Tiene Vivienda" type="boolean">
        </rz-grid-column>
        <rz-grid-column property="Num_Persona" title="Num Persona" type="integer">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Tiempo_Libre_Id" sortProperty="TiempoLibre.Nombre" filterProperty="TiempoLibre.Nombre" title="Tiempo Libre" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.TiempoLibre?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Promedio_Ingresos_Id" sortProperty="PromedioIngreso.Nombre" filterProperty="PromedioIngreso.Nombre" title="Promedio Ingreso" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.PromedioIngreso?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Rango_Ingresos_Id" sortProperty="RangoIngreso.Nombre" filterProperty="RangoIngreso.Nombre" title="Rango Ingreso" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.RangoIngreso?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Tipo_Contrato_Id" sortProperty="TipoContrato.Nombre" filterProperty="TipoContrato.Nombre" title="Tipo Contrato" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.TipoContrato?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Tiene_Enfermedad" title="Tiene Enfermedad" type="boolean">
        </rz-grid-column>
        <rz-grid-column property="Fuma" title="Fuma" type="boolean">
        </rz-grid-column>
        <rz-grid-column format="decimal" property="Promedio_Fuma" title="Promedio Fuma" type="number">
        </rz-grid-column>
        <rz-grid-column property="Practica_Deporte" title="Practica Deporte" type="boolean">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Intensidad_Deporte_Id" sortProperty="IntensidadDeporte.Nombre" filterProperty="IntensidadDeporte.Nombre" title="Intensidad Deporte" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.IntensidadDeporte?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Consentimiento" title="Consentimiento" type="boolean">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Id" title="Id" type="integer">
        </rz-grid-column>
        <rz-grid-column format="date-time" property="Fecha_Crea" formatString="mm/dd/yy" title="Fecha Crea" type="string">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
