<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight': 'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom': '20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #label0 [style]="{'fontWeight': 'bold'}" text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." *ngIf="hasChanges">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #button0 buttonStyle="secondary" icon="autorenew" [style]="{'marginBottom': '20px'}" text="Reload" *ngIf="hasChanges" (click)="button0Click($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="infodemografica" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-lookuppopup-form-field [data]="getPersonasForPersona_IdResult" property="Persona_Id" [required]="true" textProperty="Nombre" title="Persona" valueProperty="Id" placeholder="Choose Persona" [count]="getPersonasForPersona_IdCount" [pageSize]="getPersonasForPersona_IdPageSize" [value]="getByPersonasForPersona_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-string-form-field property="Cargo" [required]="true" title="Cargo" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-date-form-field property="Fecha_Ini_Cargo" [required]="false" title="Fecha Ini Cargo" dateFormat="mm/dd/yy" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-lookuppopup-form-field [data]="getClaseRiesgosForClase_Riesgo_IdResult" property="Clase_Riesgo_Id" [required]="true" textProperty="Nombre" title="Clase Riesgo" valueProperty="Id" placeholder="Choose ClaseRiesgo" [count]="getClaseRiesgosForClase_Riesgo_IdCount" [pageSize]="getClaseRiesgosForClase_Riesgo_IdPageSize" [value]="getByClaseRiesgosForClase_Riesgo_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getEstadoCivilsForEstado_Civil_IdResult" property="Estado_Civil_Id" [required]="false" textProperty="Nombre" title="Estado Civil" valueProperty="Id" placeholder="Choose EstadoCivil" [count]="getEstadoCivilsForEstado_Civil_IdCount" [pageSize]="getEstadoCivilsForEstado_Civil_IdPageSize" [value]="getByEstadoCivilsForEstado_Civil_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-boolean-form-field property="Tiene_Vivienda" [required]="false" title="Tiene Vivienda" requiredText="is required" type="boolean">
        </rz-boolean-form-field>
        <rz-integer-form-field property="Num_Persona" [required]="false" title="Num Persona" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-lookuppopup-form-field [data]="getTiempoLibresForTiempo_Libre_IdResult" property="Tiempo_Libre_Id" [required]="true" textProperty="Nombre" title="Tiempo Libre" valueProperty="Id" placeholder="Choose TiempoLibre" [count]="getTiempoLibresForTiempo_Libre_IdCount" [pageSize]="getTiempoLibresForTiempo_Libre_IdPageSize" [value]="getByTiempoLibresForTiempo_Libre_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getPromedioIngresosForPromedio_Ingresos_IdResult" property="Promedio_Ingresos_Id" [required]="false" textProperty="Nombre" title="Promedio Ingreso" valueProperty="Id" placeholder="Choose PromedioIngreso" [count]="getPromedioIngresosForPromedio_Ingresos_IdCount" [pageSize]="getPromedioIngresosForPromedio_Ingresos_IdPageSize" [value]="getByPromedioIngresosForPromedio_Ingresos_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getRangoIngresosForRango_Ingresos_IdResult" property="Rango_Ingresos_Id" [required]="false" textProperty="Nombre" title="Rango Ingreso" valueProperty="Id" placeholder="Choose RangoIngreso" [count]="getRangoIngresosForRango_Ingresos_IdCount" [pageSize]="getRangoIngresosForRango_Ingresos_IdPageSize" [value]="getByRangoIngresosForRango_Ingresos_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getTipoContratosForTipo_Contrato_IdResult" property="Tipo_Contrato_Id" [required]="false" textProperty="Nombre" title="Tipo Contrato" valueProperty="Id" placeholder="Choose TipoContrato" [count]="getTipoContratosForTipo_Contrato_IdCount" [pageSize]="getTipoContratosForTipo_Contrato_IdPageSize" [value]="getByTipoContratosForTipo_Contrato_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-boolean-form-field property="Tiene_Enfermedad" [required]="false" title="Tiene Enfermedad" requiredText="is required" type="boolean">
        </rz-boolean-form-field>
        <rz-boolean-form-field property="Fuma" [required]="false" title="Fuma" requiredText="is required" type="boolean">
        </rz-boolean-form-field>
        <rz-number-form-field property="Promedio_Fuma" [required]="false" title="Promedio Fuma" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="number">
        </rz-number-form-field>
        <rz-boolean-form-field property="Practica_Deporte" [required]="false" title="Practica Deporte" requiredText="is required" type="boolean">
        </rz-boolean-form-field>
        <rz-lookuppopup-form-field [data]="getIntensidadDeportesForIntensidad_Deporte_IdResult" property="Intensidad_Deporte_Id" [required]="false" textProperty="Nombre" title="Intensidad Deporte" valueProperty="Id" placeholder="Choose IntensidadDeporte" [count]="getIntensidadDeportesForIntensidad_Deporte_IdCount" [pageSize]="getIntensidadDeportesForIntensidad_Deporte_IdPageSize" [value]="getByIntensidadDeportesForIntensidad_Deporte_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-boolean-form-field property="Consentimiento" [required]="false" title="Consentimiento" requiredText="is required" type="boolean">
        </rz-boolean-form-field>
        <rz-date-form-field property="Fecha_Crea" [required]="false" title="Fecha Crea" dateFormat="mm/dd/yy" requiredText="is required" type="date">
        </rz-date-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
