<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight': 'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom': '20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #label0 [style]="{'fontWeight': 'bold'}" text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." *ngIf="hasChanges">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #button0 buttonStyle="secondary" icon="autorenew" [style]="{'marginBottom': '20px'}" text="Reload" *ngIf="hasChanges" (click)="button0Click($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="empresa" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-string-form-field property="Nit" [required]="true" title="Nit" [maxLength]="20" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="RazonSocial" [required]="true" title="Razon Social" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-lookuppopup-form-field [data]="getActividadEconomicasForActividad_Economica_IdResult" property="Actividad_Economica_Id" [required]="true" textProperty="Nombre" title="Actividad Economica" valueProperty="Id" placeholder="Choose ActividadEconomica" [count]="getActividadEconomicasForActividad_Economica_IdCount" [pageSize]="getActividadEconomicasForActividad_Economica_IdPageSize" [value]="getByActividadEconomicasForActividad_Economica_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getUbicacionsForUbicacion_IdResult" property="Ubicacion_Id" [required]="true" textProperty="Id" title="Ubicacion" valueProperty="Id" placeholder="Choose Ubicacion" [count]="getUbicacionsForUbicacion_IdCount" [pageSize]="getUbicacionsForUbicacion_IdPageSize" [value]="getByUbicacionsForUbicacion_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-string-form-field property="Direccion" [required]="false" title="Direccion" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Correo" [required]="true" title="Correo" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Telefono" [required]="false" title="Telefono" [maxLength]="20" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Fax" [required]="false" title="Fax" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Representante_Nombre" [required]="true" title="Representante Nombre" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Representante_Documento" [required]="true" title="Representante Documento" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-number-form-field property="Prima_Cotizacion_Mensual" [required]="false" title="Prima Cotizacion Mensual" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="number">
        </rz-number-form-field>
        <rz-date-form-field property="FechaCrea" [required]="true" title="Fecha Crea" dateFormat="mm/dd/yy" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-date-form-field property="FechaMod" [required]="false" title="Fecha Mod" dateFormat="mm/dd/yy" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-lookuppopup-form-field [data]="getEstadoEmpresasForEstado_Empresa_IdResult" property="Estado_Empresa_Id" [required]="false" textProperty="Nombre" title="Estado Empresa" valueProperty="Id" placeholder="Choose EstadoEmpresa" [count]="getEstadoEmpresasForEstado_Empresa_IdCount" [pageSize]="getEstadoEmpresasForEstado_Empresa_IdPageSize" [value]="getByEstadoEmpresasForEstado_Empresa_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
