<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Clase Riesgos">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 [allowDelete]="true" [confirmDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getClaseRiesgosCount" [data]="getClaseRiesgosResult" confirmDeleteText="Are you sure you want to delete this record?" confirmDeleteTitle="Confirmation" confirmDeleteOkText="Ok" confirmDeleteCancelText="Cancel" emptyText="No records to display." addText="Add" (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="Nombre" title="Nombre" type="string">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Id" title="Id" type="integer">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
