<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Actividades Personas">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 [allowDelete]="true" [confirmDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getActividadesPersonasCount" [data]="getActividadesPersonasResult" confirmDeleteText="Are you sure you want to delete this record?" confirmDeleteTitle="Confirmation" confirmDeleteOkText="Ok" confirmDeleteCancelText="Cancel" emptyText="No records to display." addText="Add" (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column format="int64" property="Actividad_Bienestar_Id" sortProperty="ActividadesBienestar.Nombre" filterProperty="ActividadesBienestar.Nombre" title="Actividades Bienestar" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.ActividadesBienestar?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Info_Demografica_Id" sortProperty="InfoDemografica.Cargo" filterProperty="InfoDemografica.Cargo" title="Info Demografica" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.InfoDemografica?.Cargo}}
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
