<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Empresa Clase Risgos">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 [allowDelete]="true" [confirmDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getEmpresaClaseRisgosCount" [data]="getEmpresaClaseRisgosResult" confirmDeleteText="Are you sure you want to delete this record?" confirmDeleteTitle="Confirmation" confirmDeleteOkText="Ok" confirmDeleteCancelText="Cancel" emptyText="No records to display." addText="Add" (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column format="int64" property="Empresa_Id" sortProperty="Empresa.Nit" filterProperty="Empresa.Nit" title="Empresa" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Empresa?.Nit}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Clase_Riesgo_Id" sortProperty="ClaseRiesgo.Nombre" filterProperty="ClaseRiesgo.Nombre" title="Clase Riesgo" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.ClaseRiesgo?.Nombre}}
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
