<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-integer-form-field property="Nombre" [required]="true" title="Nombre" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-lookuppopup-form-field [data]="getUbicacionsForPadre_IdResult" property="Padre_Id" [required]="false" textProperty="Id" title="Ubicacion" valueProperty="Id" placeholder="Choose Ubicacion" [count]="getUbicacionsForPadre_IdCount" [pageSize]="getUbicacionsForPadre_IdPageSize" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
