<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Documentos">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 [allowDelete]="true" [confirmDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getDocumentosCount" [data]="getDocumentosResult" confirmDeleteText="Are you sure you want to delete this record?" confirmDeleteTitle="Confirmation" confirmDeleteOkText="Ok" confirmDeleteCancelText="Cancel" emptyText="No records to display." addText="Add" (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="Nombre" title="Nombre" type="string">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Tipo_Archivo_Id" sortProperty="TipoArchivo.Nombre" filterProperty="TipoArchivo.Nombre" title="Tipo Archivo" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.TipoArchivo?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Empresa_Id" sortProperty="Empresa.Nit" filterProperty="Empresa.Nit" title="Empresa" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Empresa?.Nit}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Ruta" title="Ruta" type="string">
        </rz-grid-column>
        <rz-grid-column format="date-time" property="Fecha_Mod" formatString="mm/dd/yy" title="Fecha Mod" type="string">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Id" title="Id" type="integer">
        </rz-grid-column>
        <rz-grid-column format="date-time" property="Fecha_Crea" formatString="mm/dd/yy" title="Fecha Crea" type="string">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
