<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight': 'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom': '20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #label0 [style]="{'fontWeight': 'bold'}" text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." *ngIf="hasChanges">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #button0 buttonStyle="secondary" icon="autorenew" [style]="{'marginBottom': '20px'}" text="Reload" *ngIf="hasChanges" (click)="button0Click($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="persona" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-integer-form-field property="TipoDocumento" [required]="true" title="Tipo Documento" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-integer-form-field property="Documento" [required]="true" title="Documento" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-string-form-field property="Nombre" [required]="true" title="Nombre" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Apellidos" [required]="true" title="Apellidos" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Email" [required]="true" title="Email" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Telefono" [required]="true" title="Telefono" [maxLength]="200" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Direccion" [required]="false" title="Direccion" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-date-form-field property="Fecha_Nac" [required]="true" title="Fecha Nac" dateFormat="mm/dd/yy" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-string-form-field property="Genero" [required]="true" title="Genero" [maxLength]="1" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-lookuppopup-form-field [data]="getEmpresasForEmpresa_IdResult" property="Empresa_Id" [required]="true" textProperty="Nit" title="Empresa" valueProperty="Id" placeholder="Choose Empresa" [count]="getEmpresasForEmpresa_IdCount" [pageSize]="getEmpresasForEmpresa_IdPageSize" [value]="getByEmpresasForEmpresa_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-date-form-field property="Fecha_Crea" [required]="false" title="Fecha Crea" dateFormat="mm/dd/yy" requiredText="is required" type="date">
        </rz-date-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
