<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Empresas">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 [allowDelete]="true" [confirmDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getEmpresasCount" [data]="getEmpresasResult" confirmDeleteText="Are you sure you want to delete this record?" confirmDeleteTitle="Confirmation" confirmDeleteOkText="Ok" confirmDeleteCancelText="Cancel" emptyText="No records to display." addText="Add" (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="Nit" title="Nit" type="string">
        </rz-grid-column>
        <rz-grid-column property="RazonSocial" title="Razon Social" type="string">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Actividad_Economica_Id" sortProperty="ActividadEconomica.Nombre" filterProperty="ActividadEconomica.Nombre" title="Actividad Economica" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.ActividadEconomica?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Ubicacion_Id" sortProperty="Ubicacion.Id" filterProperty="Ubicacion.Id" title="Ubicacion" type="integer">
          <ng-template let-data gridColumnTemplate>
          {{data?.Ubicacion?.Id}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Direccion" title="Direccion" type="string">
        </rz-grid-column>
        <rz-grid-column property="Correo" title="Correo" type="string">
        </rz-grid-column>
        <rz-grid-column property="Telefono" title="Telefono" type="string">
        </rz-grid-column>
        <rz-grid-column property="Fax" title="Fax" type="string">
        </rz-grid-column>
        <rz-grid-column property="Representante_Nombre" title="Representante Nombre" type="string">
        </rz-grid-column>
        <rz-grid-column property="Representante_Documento" title="Representante Documento" type="string">
        </rz-grid-column>
        <rz-grid-column format="decimal" property="Prima_Cotizacion_Mensual" title="Prima Cotizacion Mensual" type="number">
        </rz-grid-column>
        <rz-grid-column format="date-time" property="FechaCrea" formatString="mm/dd/yy" title="Fecha Crea" type="string">
        </rz-grid-column>
        <rz-grid-column format="date-time" property="FechaMod" formatString="mm/dd/yy" title="Fecha Mod" type="string">
        </rz-grid-column>
        <rz-grid-column format="int64" property="Estado_Empresa_Id" sortProperty="EstadoEmpresa.Nombre" filterProperty="EstadoEmpresa.Nombre" title="Estado Empresa" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.EstadoEmpresa?.Nombre}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int64" property="Id" title="Id" type="integer">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
