<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight': 'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom': '20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #label0 [style]="{'fontWeight': 'bold'}" text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." *ngIf="hasChanges">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #button0 buttonStyle="secondary" icon="autorenew" [style]="{'marginBottom': '20px'}" text="Reload" *ngIf="hasChanges" (click)="button0Click($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="enfermedadesinfodemofrafica" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-lookuppopup-form-field [data]="getEnfermedadesForEnfermedad_IdResult" property="Enfermedad_Id" [required]="true" textProperty="Nombre" title="Enfermedade" valueProperty="Id" placeholder="Choose Enfermedade" [count]="getEnfermedadesForEnfermedad_IdCount" [pageSize]="getEnfermedadesForEnfermedad_IdPageSize" [value]="getByEnfermedadesForEnfermedad_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-lookuppopup-form-field [data]="getInfoDemograficasForInfo_Demografica_IdResult" property="Info_Demografica_Id" [required]="true" textProperty="Cargo" title="Info Demografica" valueProperty="Id" placeholder="Choose InfoDemografica" [count]="getInfoDemograficasForInfo_Demografica_IdCount" [pageSize]="getInfoDemograficasForInfo_Demografica_IdPageSize" [value]="getByInfoDemograficasForInfo_Demografica_IdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
